<a class="remove" href="#close"></a>

<div class="header <%- status %>">
  <div class="title">
    <span> 
      <a class="toggleButton" style="float:left" href="#">Toggle </a>
      <strong class="legend u-ellipsLongText">
            <% if (status != 'loaded') { %>
              <% if (alias) { %>
                <%- alias %>
              <% } else { %>
                <%- short_legend %>
              <% } %>
            <% } else { %>
              <% if (alias) { %>
                <%- alias %>
              <% } else { %>
                <%- legend %>
              <% } %>
            <% } %>
      </strong>
      <p class='filterCount' style="display:inline"></p>
      <% if (status == 'loading') { %><div class="<%- status %>">Loading</div><% } %>
      <% if (status == 'only') { %><div class="<%- status %>">This column has one unique value</div><% } %>
      <% if (status == 'empty') { %><div class="<%- status %>">This column is empty</div><% } %>
    </span>
  </div>
</div>

<div class="filterListandControls">
  <% if (status == "loaded") { %>
  <div class="filterSelectViewOptions">
      <input class="filterInput" value="<%- listFilterValue %>" onfocus="this.value = this.value;" placeholder="Filter List" />
    <ul class="controllers<% if (!list_view || reached_limit) { %> hidden<% } %>">
      <li>
        <a href="#" class="reset" style="float:left">Reset Filter</a>
        <% if(sortFilterSelection === 'HighLowAZ') { %>
          <a href="#" class="sort" style="float:right">High to Low</a>
        <% } else { %>
          <a href="#" class="sort" style="float:right">A to Z</a>
        <% } %>
      </li>
    </ul>
    <div style="clear:both"></div>
  </div>
  <% } %>
  <div class="fields <%- column_type %> <%- status %> <%- list_view ? 'list' : 'text' %>">

    <div class="data">
      <div class="white-gradient-shadow top"></div>
      <div class="scroll">
        <ul class="items"></ul>
      </div>
      <div class="white-gradient-shadow bottom"></div>
    </div>

    <div class="input_field">
      <a href="#" class="apply">Apply</a>
      <input name="query" placeholder="Search in this column" />
    </div>

    <div class="data<% if (list_view) { %> hidden<% } %>">
      <ul class="operations">
      </ul>
    </div>

    <% if (status == "loaded") { %>
    <div class="options">
      <div class="scrollers<% if (!list_view) { %> hidden<% } %>">
        <a href="#" class="up disabled btn"></a>
        <a href="#" class="down btn"></a>
      </div>
    </div>
    <% } %>
  </div>
  </div>

